h1 {
    text-decoration: underline;
}

.vermelho {
    color:red;
}

.tituloMaior{
    font-size: 4em;
}

.fundo{
    background-color: orange;
    padding: 20px;
}

p{
    width: 200px;
    background: lightgray;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}